VITE_SUPABASE_URL=https://unjbutdtglcyhqheysnb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVuamJ1dGR0Z2xjeWhxaGV5c25iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3NDMwMzIsImV4cCI6MjA5NTMxOTAzMn0.jdhzRiMr9EIDs2oUkahsZDXuXH8-L_lm6TftCMMaNc4

